.ddev/.import-db
.ddev/.downloads
.ddev/.instrumented
.ddev/.homeadditions
.ddev/.mariadb
.ddev/.postgres
.ddev/.mssql
.ddev/.solr
.ddev/.mkcert
.ddev/.mutagen
.ddev/docker-compose.override.yaml
.ddev/docker-compose.solr.yaml
.ddev/.ddev-docker-compose-base.yaml
.ddev/.ddev-docker-compose-full.yaml
.ddev/.webimageExtra
.ddev/phpunit.xml
.ddev/phpmyadmin.yaml
.ddev/router-docker-compose.yaml
.ddev/hostdb
vendor/
typo3temp/
var/
*.Zone.Identifier
